<section>
    <div class="container">
        <div class="inputContainer">
            <app-input
                [labelInput]="'Invesments Profile'"
                [placeHolderInput]="'Enter your investment profile'"
                [formControl]="profileControl"
                [maxLengthInput]="25"

            />
        </div>
          <div class="inputContainer">
            <app-input
                [labelInput]="'Investment Amount'"
                [placeHolderInput]="'Enter the amount you want to invest'"
                [formControl]="amountControl"
                [maskInput]="'currency'"
                [maxLengthInput]="25"

            />
        </div>
       <div class="inputContainer">
            <app-input
                [labelInput]="'Investment Duration'"
                [placeHolderInput]="'Enter the duration of your investment (Until)'"
                [maxLengthInput]="10"
                [formControl]="durationControl"
                [maskInput]="'date'"
            />
        </div>
        <div class="buttonCreatePlanInvestments">
            <button (click)="onGetInvestmentPlan()">Get Investment Plan</button>
        </div>
    </div>

    <div class="container" *ngIf="invesmentsPlanResponse()">
        <div class="responseContainer">
            <h3>Investment Plan Response:</h3>
            <div [innerHTML]="invesmentsPlanResponse()!.planPayload"></div>
            <p><strong>Operation ID:</strong> {{ invesmentsPlanResponse()!.operationId }}</p>
            <p><strong>Timestamp:</strong> {{ invesmentsPlanResponse()!.timestamp }}</p>
        </div>
    </div>
</section>